@mainColor: orange;

@RightPanelWidth: 300px;
@TopPanelHeight: 80px;
@BottomPanelHeight: 125px;

@import "pizza/pizza-card";
@import "pizza/right-panel";
@import "pizza/buttons";

.main-pizza {
  margin-right: @RightPanelWidth;
  margin-top: @TopPanelHeight;
  //margin-bottom: @BottomPanelHeight;
}

.inner-cointainer {
  max-width: 1000px;
  min-width: 300px;
  margin:auto;
  padding: 10px;
}

.pizza-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 15px;
}

.right-panel {
  height: 100%;
  width: @RightPanelWidth;

  position: fixed;
  top: 0;
  right: 0;

  background: green;
}

.top-panel {
  height: @TopPanelHeight;
  width: 100%;
  padding-right: @RightPanelWidth;

  position: fixed;
  top: 0;
  left: 0;

  background: rgba(50,50,50,0.9);
}

.discount-badge {
  position: fixed;
  left: 40px;
  bottom: 0;
  background: #EA862E;
  width: 100px;
  height: 100px;
  border-left: solid;
  border-right: solid;
  border-color: #d16200;
  border-width: 1px;
  text-align: center;
  font-size: 15px;
  color: white;
}
  .discount-top {
      width: 100px;
      height: 11px;
      top: -11px;
      left: -1px;
      background-image: url(../images/discount.svg);
      //background-size: 100px 11px;
      //background-repeat: no-repeat;
      //padding: 0!important;
      //margin: 0!important;
      position: absolute;
  }

  .discount-badge-title {
    border-bottom: 2px;
    border-bottom-style: dotted;
    padding-bottom: 3px;
    margin-bottom: 7px;
    //font-size: 15px;
  }

.footer {
  height: @BottomPanelHeight;
  padding-top: 30px;
  padding-right: @RightPanelWidth;
  text-align: center;
  //line-height: @BottomPanelHeight/2;
  color: white;
  background: rgba(50,50,50,0.9);
  min-width: 600px;
}