@mainColor: orange;

@RightPanelWidth: 300px;
@TopPanelHeight: 80px;

.order-page-layout {
  background-color: lightyellow;
  .minus, .del, .plus, .btn-order, .clear-orders {
    display: none;
  }
}

  .order-field {
    margin-top: @TopPanelHeight;
    //margin-right: @RightPanelWidth;
    position: relative;
    display: inline-block;
    width: 50%;
    //text-align: center;
    padding-top: 5%;
//    padding-left: 30%;
    padding-left: 5%;

    //max-width: 1000px;
    min-width: 300px;
    //margin:auto;
    //padding: 10px;
  }

    .client-contact-info {
      font-size: 20px;
    }

    .client-name, .client-phone-number, .client-address-number {
      display: inline-block;
      text-align: left;
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      //margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 5px;
      font-weight: bolder;
    }

    .client-name-field, .client-phone-field, .client-address-field {
      display: inline-block;
      width: 250px;
      max-width: 370px;
      min-width: 370px;
    }

    .client-name-typo, .client-phone-typo, .client-address-typo {
      color: red;
      display: none;
    }