<% include common/header.ejs %>
<div class="order-page-layout">
    <!--<div class="inner-cointainer">-->
    <div class="order-field">
        <div class="client-contact-info">
            1. Контактні дані
        </div>
        <div class="client-name">
            Ім'я
        </div>
        <input type="text" class="client-name-field" id = "nameField" value="" placeholder="Ваше ім'я" onblur="checkName()">
        <br>
        <div class="client-phone-number">
            Телефон
        </div>
        <input type="text" class="client-phone-field" id = "phoneField" value="" placeholder="Ваш номер телефону (формат: +38(012)1234567)">
        <br>
        <div class="client-address-number">
            Адреса
        </div>
        <input type="text" class="client-address-field" id = "addressField" value="" placeholder="Ваша адреса">


    </div>
    <!--<script>-->
        <!--function checkName() {-->
            <!--var x = document.getElementById("nameField");-->
            <!--x.value = x.value.toUpperCase();-->
        <!--}-->
    <!--</script>-->

    <!--</div>-->
    <div class="right-panel">
        <div class="top-part">
            <span class="orders">Замовлення</span>
            <span class="badge amount-of-orders" id="total-quantity">0</span>
            <span class="clear-orders" id="clear-btn">Очистити замовлення</span>
        </div>

        <div class="middle-part" id="cart">
            <!--<div class="text-for-cart" id="text-for-empty-cart">-->
            <!--Пусто в холодильнику?-->
            <!--<br>-->
            <!--Замовте піцу!-->
            <!--</div>-->



            <!--<div class="">-->
            <!--<div class="thumbnail pizza-card">-->
            <!--<span class="label label-success pizza-badge">Нова</span>-->
            <!--<img src="assets/images/pizza_1.jpg">-->

            <!--<div class="caption"><h3>Thumbnail label</h3>-->

            <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->

            <!--<p>-->
            <!--<a href="#" class="btn btn-primary buy-button-small">Button 1</a>-->
            <!--<a href="#" class="btn btn-primary buy-button-big">Button 2</a>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="">-->
            <!--<div class="thumbnail pizza-card">-->
            <!--<span class="label label-danger pizza-badge">Популярна</span>-->
            <!--<img src="assets/images/pizza_2.jpg">-->

            <!--<div class="caption"><h3>Thumbnail label</h3>-->

            <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->

            <!--<p>-->
            <!--<a href="#" class="btn btn-primary buy-button-small">Button 3</a>-->
            <!--<a href="#" class="btn btn-primary buy-button-big">Button 4</a>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="">-->
            <!--<div class="thumbnail pizza-card">-->
            <!--<img src="assets/images/pizza_3.jpg">-->

            <!--<div class="caption"><h3>Thumbnail label</h3>-->

            <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->

            <!--<p>-->
            <!--<a href="#" class="btn btn-primary buy-button-small">Button 5</a>-->
            <!--<a href="#" class="btn btn-primary buy-button-big">Button 6</a>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <div class="bottom-part">
            <span class="sum-of-order">Сума замовлення:</span>
            <span class="order-price">
                <span class="order-price-integer" id="order-price-int">0</span>
                грн.
            </span>
            <a class="btn btn-primary btn-order">
                <span class="order-text">Замовити</span>
            </a>
            <a class="btn btn-primary btn-change-order" href="/">
                <span class="order-text">Змінити замовлення</span>
            </a>
        </div>
    </div>

    <div class="kma-badge">
        <a href="/" class="kma-logo">
            <!--change to main-page-->
            <div class="kma-logo-1">
                PIZZA
            </div>
            <div class="kma-logo-2">
                KMA
            </div>
        </a>
        <div class="kma-badge-bottom"></div>
    </div>

    <div class="discount-badge">
        <div class="discount-top"></div>
        <div class="discount-badge-title">
            ЦЬОГО ТИЖНЯ НА ВСЕ
        </div>
        <div class="discount-badge-amount">
            -20%
        </div>
    </div>
</div>
<% include common/footer.ejs %>