//.btn {
//  background: orange;
//  border-color: darkorange;
//}
//
//.btn:hover {
//  background: #e69b00;
//  border-color: darkorange;
//}
//
//.btn:active {
//  background: #e69b00;
//  border-color: darkorange;
//}
//
//.btn::after {
//
//}




.btn-primary, .btn-primary:visited {
  background-color: orange;
  border-color: darkorange;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus .btn-primary:active:focus, body .btn-primary:active:hover, .btn-primary:focus:active, .btn-primary:hover:active {
  background-color: #eba500;
  border-color: darkorange;
}

.buy-button-small {
  text-align: center;
}

.buy-button-big {
  text-align: center;
}

.btn-order {
  margin-top: 30px;
  margin-left: 20%;
  //margin-right: @RightPanelWidth/3;

  font-size: 17px;
  font-weight: bolder;
    .order-text {
      margin-left: 35px;
      margin-right: 35px;
    }
  //padding-left: 10px;
  //padding-right: 10px;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
}

.btn-login {
  margin-top: 1px;
  float: right;
}

.pizza-filter-button {
  margin-bottom: 3px;
  background-color: transparent;
  color: orange;
  border-color: transparent;
  font-size: 15px;
}

.pizza-filter-button:active {
  background-color: orange;
  border-color: darkorange;
}

//.pizza-filter-button:active, .pizza-filter-button:active:hover, .pizza-filter-button:focus:active, .pizza-filter-button:hover:active {
//  background-color: lightgrey;
//  border-color: lightgrey;
//  color: orange;
//}

//.pizza-filter-button:hover, .pizza-filter-button:focus {
//  background-color: lightgrey;
//  border-color: lightgrey;
//  color: orange;
//}

//.pizza-filter-button:target {
//  background-color: orange;
//}

.minus {
  border-radius: 50%;
  border-style: solid;
  font-size: 17px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  text-align: center;
  padding: 5px 0;
  padding-bottom: 7px;
  //padding-right: 1px;
  line-height: 17px;
}

.del {
  border-radius: 50%;
  border-style: solid;
  border-color: #a5a5a5;
  font-size: 17px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  text-align: center;
  padding: 5px 0;
  padding-bottom: 8px;
  //padding-left: 1px;
  margin-left: 15px;
  line-height: 17px;
  color: darkorange;
  background: #dcdcdc;
}

.plus {
  border-radius: 50%;
  font-size: 17px;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  text-align: center;
  padding: 5px;
  padding-right: 6px;
  line-height: 17px;
}