.pizza-card {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  min-width: 300px;
  img {
    max-width: 250px;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
}